dotenv
pandas<3.0.0  # pydra-core 0.0.10 and earlier is not update to the latest version of pandas.
pydra-core
# TODO Later Should Middel: Er bestaat ook een Python-wrapper voor Hydra-Ring. Pydra-core vervangen?
openpyxl
colorlog
plotly
kaleido
geopandas
probabilistic_library
typer[all]
InquirerPy
gitpython
rasterio
sphinx
sphinx-autodoc-typehints
sphinx-autoapi
sphinx-mdinclude
sphinxcontrib-jquery
sphinx-rtd-theme
sphinxcontrib-bibtex
# Ontbrekend voor sphinx-build
inflection
bs4